@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

::before,
::after {
  box-sizing: border-box;
}

.welcome {
  width: 1160px;
  margin: 0 auto;
}

.body-container {
  margin: 0;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  padding: 22px 0 0;
}

.page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gadgets-list-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
}

.rare-goods-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.company-info-font {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.delivery-companies-font {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -2%;
}

.address-form-details-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  margin-bottom: 0;
}

.buttons-links-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.titles-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.numbers-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.details-name-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.navigation-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}


/*Header*/

.popover,

.rare-goods-modal {
  display: none;
}

.header {
  position: relative;
  z-index: 1;
}

.header-wrapper {
  background-color: #FFE17F;
  min-height: 206px;
  position: relative;
  margin: 0 auto;
  width: 1160px;
}

.header-wrapper::before {
  content: '';
  width: 100%;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.nav-logo {
  display: block;
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
  left: 60px;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0 59px;
}

.navigation-form-container {
  margin-top: -11px;
}

.user-menu-link,
.main-menu-link,
.catalog-link {
  text-decoration: none;
  color: black;
}

.user-login-link {
  position: relative;
  display: inline-block;
  padding-left: 14px;
}

.user-login-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/user.svg");
  width: 13px;
  height: 12px;
  left: -12px;
  top: 9px;
}

.user-compare-link {
  position: relative;
  display: inline-block;
  margin-right: 44px;
}

.user-compare-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/compare.svg");
  width: 10px;
  height: 12px;
  right: 96px;
  bottom: 8px;
}

.user-cart-link {
  position: relative;
  display: inline-block;
}

.user-cart-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/cart.svg");
  width: 16px;
  height: 14px;
  bottom: 8px;
  right: 88px;
}

.cart-counter {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-width: 20px;
  height: 20px;
  right: 99px;
  top: 6px;
  background-color: white;
  border-radius: 10px;
  color: black;
  font-size: 13px;
}

.user-menu {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: -4px;
  flex: 1;
  flex-wrap: wrap;
  gap: 18px;
  list-style-type: none;
}

.main-menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-right: 65px;
  margin-top: 2px;
  padding-bottom: 42px;
  list-style-type: none;
}

.catalog-list-wrapper {
  display: flex;
  position: absolute;
  flex-direction: row;
  background: #FFE17F;
  width: calc(100% - 118px);
  left: 0;
  padding: 1px 59px;
  top: 196px;
}

.catalog-list-wrapper::after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/01.svg");
  width: 192px;
  height: 130px;
  right: 62px;
}

.catalog-link-button {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 0;
  margin: -6px;
  cursor: pointer;
  opacity: 0.3;
  background-color: #FFE17F;
  transform: translateX(17px)translateY(-8px);
}

.catalog-link-button::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background-image: url("../images/icons/plus.svg");
  width: 16px;
  height: 16px;
  display: block;
  margin: 0;
  padding: 0;
}

.catalog-item {
  margin-bottom: 19px;
}

.catalog-service-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-menu-list {
  display: flex;
  margin-top: 38px;
  padding: 0;
  gap: 43px;
  list-style-type: none;
}

.catalog-container {
  flex: 1;
  margin-top: 39px;
}

.user-login {
  flex: 1;
  margin-left: 40px;
}

.form-search {
  box-sizing: border-box;
  display: flex;
}

.form-search input {
  position: relative;
  width: 360px;
  border-radius: 50px 0 0 50px;
  font-family: "Rubik", sans-serif;
  min-height: 41px;
  padding: 2px 0 0 48px;
  margin: 0;
  border: 2px solid #000000;
  background-color: #FFE17F;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  box-sizing: border-box;
}

.form-search::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/search.svg");
  width: 16px;
  height: 16px;
  top: 78px;
  left: 76px;
  z-index: 10;
}

.form-search button {
  width: 158px;
  min-height: 40px;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  margin: 0;
  border-left: none;
  background-color: #FFE17F;
  display: block;
  padding: 5px 6px;
}

/*MAIN*/

/*Slider*/

.slider {
  position: relative;
}

.slider-frame {
  overflow: hidden;
}

.slider::before {
  position: absolute;
  content: '';
  width: 100%;
  min-height: 104px;
  background-color: #FFE17F;
  left: 0;
  top: 0;
  z-index: -1;
}

.slider-image-container {
  margin-top: -25px;
}

.slider-text-container {
  width: 560px;
  height: 401px;
  margin-left: 39px;
  margin-top: 18px;
}

.slider-text-title {
  margin-top: 76px;
  margin-bottom: 28px;
}

.slider-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  transform: translateX(38px)translateY(57px);
  z-index: 30;
}

.slider-link::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
  left: -32px;
  bottom: 6px;
}

.details {
  display: flex;
  padding: 0;
  margin-top: 77px;
}

.details-item {
  list-style-type: none;
  margin-left: 21px;
}

.details-text {
  margin-bottom: 11px;
}

.details-item:first-child {
  margin-left: 0;
}

.slider-description {
  margin: 0;
}

.slider-screen-wrapper {
  display: flex;
}

.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-bullets {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style-type: none;
  margin-top: -37px;
  margin-bottom: 61px;

}

.details-name {
  display: inline-block;
  margin-top: 0;
}

.bullet {
  list-style-type: none;
  width: 13px;
  height: 13px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 0;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
}

.bullet-active {
  background-color: #000000;
}

/*Gadgets*/

.gadgets-list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.gadgets {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 2px;
}

.gadgets-list-item {
  width: 160px;
}

.gadget-details {
  text-decoration: none;
}

.gadget-details-image {
  height: 160px;
  background-color: #FFE17F;
}

.gadget-vr {
  background-image: url('../images/index-catalog-images/vr-glasses.svg');
}

.gadget-monopod {
  background-image: url("../images/index-catalog-images/selfie-stick.svg");
}

.gadget-camera {
  background-image: url("../images/index-catalog-images/camera.svg");
}

.gadget-bracelet {
  background-image: url("../images/index-catalog-images/fitness-watches.png");
}

.gadget-watch {
  background-image: url("../images/index-catalog-images/smartwatches.png");
}

.gadget-quadrocopter {
  background-image: url("..//images/index-catalog-images/quadrocopter.png");
}

.gadgets-description {
  margin: 0;
  margin-top: 32px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: black;
}

/*Services*/

.services {
  background-color: #EBEBEB;
  min-height: 362px;
  margin-top: 111px;
}

.services-content {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  position: relative;
  z-index:1;
}

.service-screen::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/delivery.svg");
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  right: 63px;
  top: 46px;
}

.service-screen-item-title {
  margin-top: 43px;
}

.services-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  justify-content: center;
  width: 287px;
  padding: 24px 64px 0 16px;
  margin-bottom: -2px;
}

.service-screen .titles-font {
 margin-bottom: 34px;
}

.service-screen {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  align-items: flex-start;
  padding: 0 208px 0 37px;
  z-index:5;
}

.services-list-item {
  margin-bottom: 53px;
  position: relative;
  z-index: 3;
}

.services-list-item:last-child {
  margin-bottom: 0;
}

.services::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #FFFFFF;
}

.services-list-item:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 10px;
  background-color: #FFE17F;
  left: -16px;
  bottom: 3px;
  z-index:-1;

}

.services-list-item-active {
  position: relative;
}

.services-list-item-active::before {
  content: "";
  position: absolute;
  width: 281px;
  height: 41px;
  background-color: #000000;
  left: -16px;
  bottom: -8px;
  z-index:-1;
}

.services-list::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 320px;
  left: 280px;
  background-color: #000000;
  z-index:2;
}

.services-link-active {
  color: #FFE17F;
}

/*Rare-goods*/

.rare-goods {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 71px;
  min-height: 100px;
  position: relative;
  background-color: #F0F0F0;
}

.rare-goods::before {
  content: "";
  position: absolute;
  display: block;
  width: 125px;
  height: 100px;
  background-image: url("../images/icons/lorry.png");
  left: 0;
}

.rare-goods::after {
  content: "";
  position: absolute;
  display: block;
  min-width: 40px;
  height: 40px;
  background-image: url("../images/icons/info-button.svg");
  right: 43px;
}

/*About-company*/

.about-company-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;

}

.about-company {
  justify-content: flex-start;
  padding-top: 74px;
}

.address-tel {
  text-decoration: none;
  color: black;
}

.about-company-heading {
  margin-bottom: 49px;
  position: relative;
}

.about-company-heading::before {
  content: "";
  position: absolute;
  width: 82px;
  height: 7px;
  background-color: #000000;
  z-index: -1;
  left: 1px;
  bottom: 92px;
}

.company-info-text {
  margin-bottom: 28px;
}

.delivery-companies-item {
  margin-bottom: 18px;
}

.delivery-companies-list {
  margin-bottom: 31px;
  padding-left: 24px;
  padding: 0;
  margin-left: 17px;
}

.company-info-details {
  margin-left: 23px;
  position: relative;
}

.delivery-companies-item::marker {
  color: #FFC700;
  font-size: 25px;
}

.company-info-details::before{
  content: "";
  position: absolute;
  width: 267px;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
  left: -21px;
  bottom: 6px;
}

/* Company-contacts*/

.company-contacts {
  margin-top: 74px;
  margin-left: 144px;
}

.company-contacts-heading {
  margin-bottom: 48px;
  position: relative;
}

.company-info-heading {
  margin-bottom: -5px;
}

.address-tel {
  text-decoration: underline;
}

.company-timetable-heading {
  margin-top: 32px;
}

.company-schedule {
  list-style-type: none;
  padding-left: 0;
  margin-top: -10px;
  margin-bottom: 35px;
}

.contact-us-button {
  margin-left: 36px;
  position: relative;
}

.contact-us-button::before {
  content: "";
  position: absolute;
  width: 259px;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
  right: -30px;
  bottom: 5px;
}

.company-contacts-heading::before {
  content: "";
  position: absolute;
  width: 83px;
  height: 7px;
  background-color: #000000;
  z-index: -1;
  left: 3px;
  bottom: 92px;
}

/*Subscription*/

.subscription {
  background-color: #EBEBEB;
  min-height: 421px;
  margin-top: 111px;
  display: flex;
  box-sizing: border-box;
  padding: 116px 11px 9px;
  margin-top: 75px;
  padding-top: 23px;
  padding-left: 27px;
}

.subscription-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.subscription-text {
  padding: 35px;
  margin-left: 216px;
}

.subscription-text-container {
  display: flex;

}

.subscription-form-container {
  display: flex;
  margin-top: 89px;
}

.subscription-field {
  display: flex;
  margin-right: 221px;

}

.field {
  position: relative;
  width: 552px;
  font-family: "Rubik", sans-serif;
  min-height: 57px;
  padding: 2px 0 0 10px;
  margin: 0;
  border: 2px solid #C4C4C4;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  box-sizing: border-box;
  background-color: transparent;
  border-left: none;
  border-top: none;
}

.subscription-button {
  width: 251px;
  min-height: 40px;
  border: 3px solid #C4C4C4;
  margin: 0;
  border-left: none;
  display: block;
  padding: 5px 6px;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  text-transform: uppercase;
}

.free-subscription-text {
  margin-top: 14px;
  position: relative;
}

.free-subscription-text::before {
  content:"";
  position: absolute;
  background-image: url("..//images/icons/tick.png");
  width: 14px;
  height: 14px;
  right: 146px;
  bottom: 22px;

}

/*Footer*/

.footer {
  background-color: #444444;
}

.footer-logo {
  margin-bottom: 7px;
}
.footer-wrapper-upper {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper-lower {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: -21px;
  margin-bottom: 61px;
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-top: 63px;
}

.footer-social-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  column-gap: 16px;
}

.footer-social-link {
  position: relative;
}

.footer-social-link::before {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-wrapper-socials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-services-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 34px;
  list-style-type: none;
  padding-left: 0;
  margin-left: -65px;
  margin-top: 27px;

}

.footer-services-link {
  text-decoration: none;
  color:#FFFFFF;
}

.tel-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
  text-align: right;
}

.telegram::before {
  content:"";
  background-image: url("..//images/social/telegram.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.youtube::before {
  content:"";
  background-image: url("..//images/social/youtube.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.twitter::before {
  content:"";
  background-image: url("..//images/social/twitter.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-address {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-style: normal;
  width: 239px;
  margin-top: 22px;
}

.footer-address::after {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  display: block;
  margin-top: 64px;
}

.tel-link-wrapper {
  margin-top: 24px;
}

.site-link-wrapper {
  right: 0;
  position: absolute;
}

/*CATALOG-PAGE*/

.user-logout-link {
  margin-right: 31px;
}

.second-header {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 37px 60px 7px 60px;
}

.second-header-heading {
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.breadcrumbs-list-item {
  margin-right: 37px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  column-gap: 20px;
  margin: 0;
  padding: 0;
}

.catalog-items {
  background-color: #F0F0F0;
}

.content-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.catalog-items-wrapper {
  display: grid;
  grid-template-columns: 321px 836px;
}

.filter-container {
  padding: 31px 60px 31px 59px;
}

.filter-form-price,
.filter-form-color,
.filter-form-bluetooth {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-heading, .product-sorting-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 0;
}

.filter-price-heading {
  margin-bottom: 36px;
}

.filter-heading {
  margin-bottom: 20px;
}

.filter-heading::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-top: 57px;
}

.range-scale {
  background-color: #DCDCDC;
  position: relative;
  height: 2px;
  margin-bottom: 5px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
  left: 0;
  width: 119px;
}

.range-switch {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  background-color: #EBEBEB;
}

.min {
  top: -8px;
  left: -8px;
}

.max {
  right: -10px;
  top: -8px;
}

.from-label, .to-label {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.to-label {
  margin-right: 13px;
}

.range-input {
  width: 75px;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.3);
}

.range-scale-wrapper {
  margin-left: -12px;
  margin-bottom: 54px;
}

.filter-form-color {
  position: relative;
  margin-bottom: 14px;
}

.filter-form-color::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-top: -26px;
  margin-bottom: 46px;
}

.color-filter {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 35px;
  margin-bottom: 37px;
}

.filter-color-item {
  margin-bottom: 7px;
}

.filter-input:checked + .color-label::before {
  content: "";
  background-image: url("../images/icons/tick.png");
  background-repeat: no-repeat;
  background-position: center center;
  border-color: #000000;
}

.color-label::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 4px;
  position: absolute;
  left: -36px;
  top: 0;
}

.filter-input {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.color-label {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  position: relative;
}

.filter-color-heading,
.filter-price-heading,
.bluetooth-heading {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.2em;
}

.radiobutton-filter {
  list-style-type: none;
  padding-left: 38px;
}

.filter-radio-item:first-child {
  margin-bottom: 9px;
}

.filter-form-bluetooth{
  margin-bottom: 17px;
}

.bluetooth-heading {
  margin-bottom: 6px;
}

.yes-bluetooth {
  margin-bottom: 5px;
}

.radio-input:checked + .radio-label::before {
  border-color: #000000;
}

.radio-label {
  position: relative;
}

.radio-input:checked+ .radio-label::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: -32px;
}

.radio-input + .radio-label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  left: -38px;
  top: 0;
}

.filter-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  left: 50px;
  z-index: 1;
}

.filter-button::before {
  content: "";
  display: block;
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  z-index: -1;
  left: -48px;
  bottom: 6px;
}

.sorting-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr 130px;
  min-height: 92px;
  background-color: #F0F0F0;
  align-items: center;
  padding: 0 40px 0 40px;
  justify-content: center;
}

.sorting-select {
  color: #000000;
  min-width: 141px;
  min-height: 30px;
  justify-self: center;
  border: none;
  appearance: none;
  background-color: transparent;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: top right 53px;
  cursor: pointer;
  padding-left: 73px;
  padding-bottom: 13px;
}

.product-sorting-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 62px;
  justify-self: end;
}

.sort-up{
  display: block;
  box-sizing: content-box;
  width: 11px;
  height: 10px;
  background-image: url("../images/icons/triangle-up.svg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
  opacity: 0.2;
}

.sort-down {
  display: block;
  box-sizing: content-box;
  width: 11px;
  height: 10px;
  background-image: url("../images/icons/triangle-down.svg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
  opacity: 0.2;
}

.product-cards {
  display: grid;
  row-gap: 44px;
  padding: 53px 40px 78px 40px;
  background-color: #FFFFFF;
}

.product-cards-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 41px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-link {
  text-decoration: none;
  display: block;
  padding: 1px;
  color: #000000;
}

.product-image {
  display: block;
  margin-bottom: 33px;
  max-width: 100%;
  height: 100%;
}

.product-name {
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
}

.cards-button {
  font-family: "Railway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000000;
  padding: 13px;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #E5E5E5;
}

.pagination-wrapper {
  display: grid;
  grid-template-columns: 130px 1fr 130px;
  background-color: #EBEBEB;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  column-gap: 8px;
}

.pagination-list-item {
  display: flex;
}

.pagination-wrapper .button-previous {
  padding-left: 22px;
  opacity: 0.2;
}

.button-previous, .button-next {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  line-height: 21px;
  font-weight: 800;
  padding: 11px;
  margin-top: 14px;
}

.pagination-link {
  text-decoration: none;
  opacity: 0.3;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
