@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.body-container {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  padding: 15px 0;
}

.page-container {
  display:flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  width: 1440px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gadgets-list-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
}

.rare-goods-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23,48px;
  letter-spacing: 20%;
}

.company-info-font {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.delivery-companies-font {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -2%;
}

.address-form-details-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.buttons-links-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21,13px;
  letter-spacing: 20%;
}

.titles-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.numbers-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.details-name-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}


/*Header*/

.header-wrapper {
  background-color: #FFE17F;
  min-height: 175px;
  position: relative;
  padding: 0 60px;
}

.header-wrapper::before {
  content: '';
  width: 100%;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.header-wrapper a {
  text-decoration: none;
  color: black;
}

.header-wrapper ul {
  list-style-type: none;
}

.nav-logo{
  display: block;
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
}

.navigation {
  display:flex;
  flex-wrap: wrap;
}

.user-menu {
  display: flex;
  padding: 0;
  margin: 0;
  flex: 1;
  flex-wrap: wrap;
  gap: 18px;
}

.main-menu-container {
  width:100%;
  display: flex;
}

.catalog-list-wrapper {
  position: absolute;
  background:#FFE17F;
  width: 100%;
  left: 0;
  display: grid;
  grid-row: 1;
}

.main-menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 47px;
}

.catalog-container {
  flex: 1;
  grid-template-rows: 1fr 1fr 2fr;
}

.user-login {
  flex:1;
  margin-left: 40px;
}

.popover, .slider-screen, .rare-goods-modal{
  display: none;
}

.user-menu {
  display: flex;
}

.form-search input {
  min-width: 359px;
}












.welcome {
  background-color:burlywood;
}
.gadgets {
  background-color:lightpink;
}
.services {
  background-color:cornflowerblue;
}

.rare-goods {
  background-color: lightcoral;
}

.about-company{
  background-color:darkolivegreen;
}

.company-contacts{
  background-color:darkseagreen;
}

.subscription {
  background-color:aquamarine;
}

.footer{
  background-color:blanchedalmond;
}
