@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

::before,
::after {
  box-sizing: border-box;
}

.welcome {
  width: 1160px;
  margin: 0 auto;
}

.body-container {
  margin: 0;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  padding: 22px 0 0;
}

.page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gadgets-list-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
}

.rare-goods-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.rare-goods-button {
  color: #000000;
  text-decoration: none;
  padding: 0 130px;
  text-align: center;
}

.company-info-font {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.delivery-companies-font {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.address-form-details-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  margin-bottom: 0;
}

.buttons-links-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.titles-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.numbers-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.details-name-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.navigation-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}


/*Header*/

.popover,

.rare-goods-modal {
  display: none;
}

.header {
  position: relative;
  z-index: 20;
}

.header-wrapper {
  background-color: #ffe17f;
  min-height: 206px;
  position: relative;
  margin: 0 auto;
  width: 1160px;
}

.header-wrapper::before {
  content: "";
  width: 100%;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-logo {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
  left: 60px;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0 59px;
}

.navigation-form-container {
  margin-top: -12px;
}

.user-menu-link,
.main-menu-link,
.catalog-link {
  text-decoration: none;
  color: #000000;
}

.user-login-link {
  position: relative;
  display: inline-block;
  padding-left: 14px;
}

.user-login-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/user.svg");
  width: 13px;
  height: 12px;
  left: -12px;
  top: 9px;
}

.user-compare-link {
  position: relative;
  display: inline-block;
  margin-right: 44px;
}

.user-compare-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/compare.svg");
  width: 10px;
  height: 12px;
  right: 96px;
  bottom: 8px;
}

.user-cart-link {
  position: relative;
  display: inline-block;
}

.user-cart-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/cart.svg");
  width: 16px;
  height: 14px;
  bottom: 8px;
  right: 88px;
}

.cart-counter {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-width: 20px;
  height: 20px;
  right: 99px;
  top: 6px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  font-size: 13px;
}

.user-menu {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: -4px;
  flex: 1;
  flex-wrap: wrap;
  gap: 18px;
  list-style-type: none;
}

.main-menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-right: 65px;
  margin-top: 2px;
  padding-bottom: 42px;
  list-style-type: none;
}

.catalog-list-wrapper {
  display: flex;
  position: absolute;
  flex-direction: row;
  background: #ffe17f;
  width: calc(100% - 118px);
  left: 0;
  padding: 1px 59px;
  top: 196px;
  cursor: default;
}

.slider-text-title {
  position: relative;
  z-index: 20;
}

.catalog-link-button {
  position: relative;
  width: 50px;
  height: 51px;
  border: none;
  padding: 0;
  margin: -6px;
  cursor: pointer;
  background-color: #ffe17f;
  transform: translateX(17px)translateY(-8px);
}

.catalog-link-button::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background-image: url("../images/icons/circle-plus.svg");
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  opacity: 0.3;
}

.catalog-list-wrapper {
  display: none;
}

.catalog-link:hover .catalog-list-wrapper {
  display: block;
}

.catalog-item {
  margin-bottom: 19px;
}

.catalog-service-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-menu-list {
  display: flex;
  margin-top: 41px;
  padding: 0;
  column-gap: 44px;
  list-style-type: none;
  max-width: 490px;
  flex-wrap: wrap;
}

.catalog-container {
  margin-top: 39px;
  padding-right: 24px;
  cursor: pointer;
}

.catalog-service-menu {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.catalog-container:hover .catalog-link-button::before {
  color: #000000;
  opacity: 1;
  background-image: url("../images/icons/circle-minus.svg");
}

.catalog-container:hover .catalog-list-wrapper {
  display: flex;
}

.user-login {
  flex: 1;
  margin-left: 40px;
}

.form-search {
  box-sizing: border-box;
  display: flex;
  margin-top:3px;
}

.form-search input {
  position: relative;
  width: 360px;
  border-radius: 50px 0 0 50px;
  font-family: "Rubik", sans-serif;
  min-height: 40px;
  padding: 2px 0 0 48px;
  margin: 0;
  border: 2px solid #000000;
  background-color: #ffe17f;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  box-sizing: border-box;
}

.form-search::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/search.svg");
  width: 16px;
  height: 16px;
  top: 78px;
  left: 76px;
  z-index: 10;
}

.form-search button {
  width: 158px;
  min-height: 40px;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  margin: 0;
  border-left: none;
  background-color: #ffe17f;
  display: block;
  padding: 3px 6px;
}

/*MAIN*/

/*Slider*/

.slider {
  position: relative;
}

.slider-frame {
  overflow: hidden;
}

.slider::before {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 104px;
  background-color: #ffe17f;
  left: 0;
  top: 0;
  z-index: -1;
}

.slider-image-container {
  position: relative;
  margin-top: -38px;
}

.slider-text-container {
  position: relative;
  width: 560px;
  min-height: 401px;
  margin-left: 39px;
  margin-top: 9px;
}

.slider-text-container::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/01.svg");
  width: 192px;
  height: 130px;
  right: 60px;
  top: -9px;
  z-index: -1;
}

.slider-text-title {
  margin-top: 76px;
  margin-bottom: 28px;
}

.slider-button {
  top: 246px;
  position: absolute;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 60px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.slider-previous {
  left: 0;
  background-image: url("./images/icons/arrow-left.svg");
  transform: translate(30px, -73px);
}

.slider-next {
  left: 540px;
  background-image: url("../images/icons/arrow-right.svg");
  transform: translateY(-73px);
}

.details {
  display: flex;
  padding: 0;
  margin-top: 50px;
  flex-wrap: wrap;
}

.details-item {
  list-style-type: none;
  margin-right: 21px;
}

.details-text {
  margin-bottom: 11px;
  margin-top: 0;
}

.details-item:last-child {
  margin-left: 0;
}

.slider-description {
  margin: 0;
  margin-bottom: 53px;
}

.slider-screen-wrapper {
  display: flex;
}

.slider-screen:nth-child(1) .slider-text-container::before {
  background-image: url("../images/icons/01.svg");
}

.slider-screen:nth-child(2) .slider-text-container::before {
  background-image: url("../images/icons/02.svg");
  width: 224px;
}

.slider-screen:nth-child(3) .slider-text-container::before {
  background-image: url("../images/icons/03.svg");
  width: 230px;
}

.slider-list {
  display: flex;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: transform 1s ease;
}

.slider-bullets {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style-type: none;
  margin-top: -33px;
  margin-bottom: 58px;

}

.details-name {
  display: inline-block;
  margin-top: 0;
}

.bullet {
  list-style-type: none;
  width: 13px;
  height: 13px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 0;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
}

.bullet-active {
  background-color: #000000;
}

.cart-purchases {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.purchases-total,
.total-sum {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
}

.purchases-total {
  margin-right: auto;
  width: 120px;
}

.total-sum {
  margin-left: auto;
  width: 150px;
  text-align: right;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.cart-item:last-child {
  margin-bottom: 32px;
}

.popover-image {
  max-width: 100%;
  height: 100%;
  display: block;
}

.cart-item-remove {
  padding: 0;
  margin: 0;
  border: none;
  width: 10px;
  height: 10px;
  background-color: transparent;
  position: relative;
  background-image: url("../images/icons/popover-button-remove.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.cart-item-remove:hover {
  opacity: 0.6;
}

.cart-item-remove:focus {
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.cart-item-remove:active {
  opacity: 0.3;
  outline: none;
}

.popover-item-link {
  display: flex;
  flex-wrap: wrap;
  column-gap: 23px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.popover-item-link:hover {
  opacity: 0.6;
}

.popover-item-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover-item-link:active {
  opacity: 0.3;
  outline: none;
}

.cart-item-name {
  font-size: 16px;
  line-height: 20px;
  width: 172px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.total-cost {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.open-cart {
  display: block;
  padding: 14px 21px 14px 25px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
}

.open-cart:hover {
  background-color: #ffe17f;
}

.open-cart:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.open-cart:active {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.user-cart {
  position: relative;
}

.popover {
  position: absolute;
  right: -75px;
  top: 100%;
  z-index: 5;
  display: none;
  padding-top: 8px;
}

.popover-wrapper {
  width: 280px;
  padding: 20px 20px 15px 20px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  background-color: #000000;
  min-height: 266px;
  position: relative;
  top: -6px;
}

.popover-wrapper::before {
  content: "";
  display: block;
  width: 14px;
  height: 6px;
  background-image: url("../images/icons/popover-triangle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.user-cart:hover .popover,
.user-cart:focus-within .popover,
.user-cart:active .popover {
  display: block;
}

/*Gadgets*/

.gadgets-list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  column-gap: 40px;
  flex-wrap: wrap;
}

.gadgets {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 2px;
}

.gadgets-list-item {
  width: 160px;
}

.gadget-details {
  display: block;
  text-decoration: none;
}

.gadget-details-image {
  height: 160px;
  background-color: #ffe17f;
}

.gadget-details:hover .gadget-details-image {
  background-color: #ffc700;
}

.gadget-details:active {
  opacity: 0.3;
}

.gadget-details:focus {
  outline: 2px solid #af4fff;
}

.gadget-vr {
  background-image: url("../images/index-catalog-images/vr-glasses.svg");
}

.gadget-monopod {
  background-image: url("../images/index-catalog-images/selfie-stick.svg");
}

.gadget-camera {
  background-image: url("../images/index-catalog-images/camera.svg");
}

.gadget-bracelet {
  background-image: url("../images/index-catalog-images/fitness-watches.svg");
}

.gadget-watch {
  background-image: url("../images/index-catalog-images/smartwatches.svg");
}

.gadget-quadrocopter {
  background-image: url("..//images/index-catalog-images/quadrocopter.svg");
}

.gadgets-description {
  margin: 0;
  margin-top: 33px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: -0.02em;
}

/*Services*/

.services {
  background-color: #ebebeb;
  min-height: 362px;
  margin-top: 111px;
}

.services-content {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.service-delivery::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/delivery.svg");
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  right: 63px;
  top: 46px;
}

.service-screen-item-title {
  margin-top: 46px;
}

.service-screen-item {
  display: none;
}

.service-screen-item-active {
  display: block;
}

.services-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  width: 287px;
  padding: 36px 0 0 0;
  margin-bottom: -2px;
  margin-right: 79px;
}

.service-screen .titles-font {
  margin-bottom: 32px;
}

.service-screen {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  align-items: flex-start;
  padding: 0 208px 0 37px;
  z-index: 5;
}

.services-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
  position: relative;
  z-index: 3;
  height: 41px;
}

.services-list-item:last-child {
  margin-bottom: 0;
}

.services::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #ffffff;
}

.services-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  height: 100%;
  background: none;
  border: none;
  font: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-transform: inherit;
}

.services-link:not(.services-link-active)::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  transition: height 0.2s ease;
}

.services-link:hover::before {
  height: 100%;
}

.services-link-active {
  position: relative;
  color: #ffe17f;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  background-color: #000000;
  z-index: -1;
  padding-left: 18px;
  height: 100%;
  transition-property: padding, width;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.services-link-active:hover {
  padding-left: 65px;
}

.services-link:focus {
  outline: 2px solid #af4fff;
}

.services-list::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 320px;
  left: 280px;
  background-color: #000000;
  z-index: 2;
  top: -30px;
}

.service-guarantee::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/guarantee.svg");
  background-repeat: no-repeat;
  width: 171px;
  height: 195px;
  right: 55px;
  top: 46px;
}

.service-credit::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/credit.svg");
  background-repeat: no-repeat;
  width: 156px;
  height: 188px;
  right: 44px;
  top: 25px;
}

/*Rare-goods*/

.rare-goods {
  cursor: pointer;
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 71px;
  min-height: 100px;
  position: relative;
  background-color: #f0f0f0;
  text-decoration: none;
}

.rare-goods-button::before {
  content: "";
  position: absolute;
  display: block;
  width: 125px;
  height: 100px;
  background-image: url("../images/icons/lorry.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffe17f;
  left: 0;
  top:50%;
  transform: translateY(-50%);
}

.rare-goods-button::after {
  content: "";
  position: absolute;
  display: block;
  min-width: 40px;
  height: 40px;
  background-image: url("../images/icons/info-button.svg");
  right: 43px;
  top:50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

.rare-goods:hover .rare-goods-button::before {
  background-color: #ffcc33;
}

.rare-goods:hover .rare-goods-button::after {
  opacity: 1;
}

.rare-goods:focus {
  outline: 2px solid #af4fff;
}

.rare-goods:active {
  opacity: 0.3;
}

/*Modal-window*/

.modal-container {
  position: fixed;
  background-color: rgba(240, 240, 240, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal {
  border: 10px solid #000000;
  padding: 61px 71px;
  min-width: 761px;
  background-color: #ffffff;
}

.modal-title-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  align-self: stretch;
  justify-content: space-between;
}

.modal-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.modal-input-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 17px;
}

.modal-button {
  margin: 0;
  padding: 0;
  min-width: 26px;
  min-height: 26px;
  border: none;
  background-image: url("../images/icons/close-cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  margin-top: 10px;
  cursor: pointer;
}

.modal-button:hover {
  opacity: 0.6;
}

.modal-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-button:active {
  opacity: 0.3;
  outline: none;
}

.name-input {
  margin: 0;
  padding: 19px 55px 20px 20px;
  color: #000000;
}

.modal-envelope-label {
  position: relative;
}

.modal-envelope-label::after {
  content: "";
  display: block;
  width: 15px;
  height: 12px;
  background-image: url("../images/icons/envelope.svg");
  position: absolute;
  bottom: -52px;
  right: 19px;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-person-label {
  position: relative;
}

.modal-person-label::after {
  content: "";
  display: block;
  width: 15px;
  height: 12px;
  background-image: url("../images/icons/person.svg");
  position: absolute;
  bottom: -52px;
  right: 19px;
  background-repeat: no-repeat;
  background-position: center;
}



.must-deliver-input:placeholder-shown,
.name-input:placeholder-shown {
  background-color: #f0f0f0;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.must-deliver-input:not(:placeholder-shown),
.name-input:not(:placeholder-shown) {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #f0f0f0;
  outline: none;
  border: none;
}

.plus-button,
.minus-button {
  padding: 0;
  margin: 0;
  border: none;
  width: 60px;
  min-height: 60px;
  background-color: #f0f0f0;
  cursor: pointer;
  position: relative;
}

.quantity-input:hover,
.minus-button:hover,
.plus-button:hover {
  background-color: #ebebeb;
}

.minus-button:hover.minus-button::before,
.plus-button:hover.plus-button::before {
  opacity: 0.6;
}

.plus-button:focus,
.minus-button:focus {
  outline: 2px solid #af4fff;
  background-color: #ebebeb;

}

.quantity-input:focus {
  border: none;
  outline: 2px solid #af4fff;
  background-color: #ebebeb;
  outline-offset: -2px;

}


.minus-button:active.minus-button::before,
.plus-button:active.plus-button::before {
  background-color: #f0f0f0;
  opacity: 0.3;
  outline: none;
}

.minus-button:active,
.plus-button:active,
.quantity-input:active {
  background-color: #f0f0f0;
  opacity: 0.3;
  outline: none;
}


.minus-button:focus-visible,
.plus-button:focus-visible,
.quantity-input:focus-visible {
  outline-offset: -2px;
}

.quantity-input:disabled,
.minus-button:disabled,
.plus-button:disabled {
  opacity: 0.3;
}

.minus-button:disabled.minus-button::before,
.plus-button:disabled.plus-button::before {
  opacity: 0.3;
}

.plus-button::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/modal-plus.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
}

.minus-button::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/modal-minus.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
}

.modal-input-label {
  display: block;
}

.modal-form {
  display: grid;
  grid-template-columns: 200px 160px 40px 140px 40px 180px;
  grid-template-rows: repeat(3, min-content);
  row-gap: 42px;
}

.modal-name {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}

.modal-email {
  grid-column: 4/7;
  display: flex;
  flex-direction: column;
}

.must-deliver-wrapper {
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
}

.must-deliver-label {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 14px;
}

.must-deliver-input {
  margin: 0;
  padding: 20px 55px 20px 20px;
  color: #000000;
}

.modal-buttons-wrapper {
  grid-column: 6/7;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tooltip:hover > .tooltip-text {
  display: block;
}

.tooltip:focus {
  border: none;
  outline: none;
}

.tooltip:focus > .tooltip-text {
  display: block;
  border: none;
}

.quantity-label {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 14px;
  position: relative;
}

.tooltip {
  padding: 0;
  border: none;
  margin: 0;
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: #ffe17f;
  border-radius: 13px;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  position: absolute;
  right: 33px;
  top: -2px;
}


.quantity-input {
  margin: 0;
  padding: 0;
  border: none;
  width: 60px;
  appearance: none;
  text-align: center;
  background-color: #f0f0f0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;
  flex-shrink: 0;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input[type=number] {
  -moz-appearance: textfield;
}

.tooltip-text {
  display: none;
  margin: 0;
  width: 200px;
  padding: 19px 17px 19px 20px;
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  z-index: 1;
}

.modal-buttons {
  display: flex;
}

.send-button-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.modal-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modal-form-button {
  margin: 0;
  min-width: 200px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 3;
  padding: 10px 0;
}

.modal-form-button::before {
  content: "";
  display: block;
  background-color: #ffe17f;
  height: 8px;
  position: absolute;
  width: 100%;
  top: calc(50% - 4px);
  z-index: -1;
}

.modal-form-button:hover {
  background-color: #ffe17f;
}

.modal-form-button:focus {
  outline: 2px solid #af4fff;
}

.modal-form-button:active {
  background-color: #ffcc33;
  outline: none;
}

.modal-form-button:active.modal-form-button::before {
  display: none;
}

.modal-form-button:disabled {
  opacity: 0.3;
}


.modal-container-close {
  display: none;
}


.link:hover {
  background-color: #ffe17f;
}

.link:focus {
  outline: 2px solid #af4fff;
}

.link:active {
  background-color: #ffcc33;
  outline: none;
  border: none;
}

.link:active.service-list-link::before {
  display: none;
}

.link-disabled {
  opacity: 0.3;
}

.input-error {
  outline: 2px solid #ff3d3d;
}


.input-error-address {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #ff3d3d;
}



/*About-company*/

.about-company-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-top: 3px;
}

.about-company {
  justify-content: flex-start;
  padding-top: 74px;
  max-width: 481px;
}

.address-tel {
  text-decoration: none;
  color: black;
}

.about-company-heading {
  margin-bottom: 49px;
  position: relative;
}

.about-company-heading::before {
  content: "";
  position: absolute;
  width: 82px;
  height: 7px;
  background-color: #000000;
  z-index: -1;
  left: 1px;
  bottom: 92px;
}

.company-info-text {
  margin-bottom: 28px;
}

.delivery-companies-item {
  margin-bottom: 16px;
}

.delivery-companies-list {
  margin-bottom: 31px;
  padding-left: 24px;
  padding: 0;
  margin-left: 22px;
}

.delivery-companies-item-caption {
  padding-left: 17px;
}

.company-info-details {
  position: relative;
}

.company-info-details.yellow-crossing-btn {
  padding: 0 23px;
}

.delivery-companies-item::marker {
  color: #ffc700;
  font-size: 25px;
}

/* Company-contacts*/

.company-contacts {
  margin-top: 74px;
  margin-left: 146px;
  max-width: 535px;
}

.company-contacts-heading {
  margin-bottom: 48px;
  position: relative;
}

.company-info-heading {
  margin-bottom: -5px;
}

.address-tel {
  text-decoration: underline;
}

.company-timetable-heading {
  margin-top: 32px;
}

.company-schedule {
  list-style-type: none;
  padding-left: 0;
  margin-top: -10px;
  margin-bottom: 31px;
}

.contact-us-button {
  position: relative;
}

.contact-us-button::before {
  content: "";
  position: absolute;
  width: 259px;
  height: 8px;
  background-color: #ffc700;
  z-index: -1;
  right: -30px;
  bottom: 5px;
}

.company-contacts-heading::before {
  content: "";
  position: absolute;
  width: 83px;
  height: 7px;
  background-color: #000000;
  z-index: -1;
  left: 3px;
  bottom: 92px;
}

/*Subscription*/

.subscription {
  background-color: #f0f0f0;
  min-height: 419px;
  display: flex;
  box-sizing: border-box;
  padding: 116px 11px 9px;
  margin-top: 71px;
  padding-top: 21px;
  padding-left: 27px;
}

.subscription-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.subscription-text {
  padding: 35px;
  margin-left: 216px;
}

.subscription-text-container {
  display: flex;

}

.subscription-form-container {
  display: flex;
  margin-top: 89px;
  margin-bottom: 47px;
}

.subscription-field {
  display: flex;
  margin-right: 221px;
  height: 57px;
}

.field {
  position: relative;
  width: 552px;
  font-family: "Rubik", sans-serif;
  min-height: 57px;
  padding: 2px 0 0 10px;
  margin: 0;
  border: 3px solid #c4c4c4;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  box-sizing: border-box;
  border-left: none;
  border-top: none;
  background: none;
  border-right: none;
}

.subscription-button {
  width: 251px;
  min-height: 40px;
  border: 3px solid #c4c4c4;
  margin: 0;
  display: block;
  padding: 5px 6px;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  text-transform: uppercase;
  background: none;
}

.free-subscription-text {
  margin-top: 14px;
  position: relative;
}

.free-subscription-text::before {
  content: "";
  position: absolute;
  background-image: url("..//images/icons/green-tick.png");
  width: 14px;
  height: 14px;
  right: 146px;
  bottom: 22px;

}

/*Footer*/

.footer {
  background-color: #444444;
}

.footer-logo {
  margin-bottom: 7px;
}

.footer-wrapper-upper {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper-lower {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: -24px;
  margin-bottom: 61px;
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-top: 63px;
}

.footer-social-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  column-gap: 16px;
  max-width: 615px;
  flex-wrap: wrap;
}

.footer-social-link {
  position: relative;
}

.footer-social-link::before {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-wrapper-socials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-services-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  list-style-type: none;
  padding-left: 0;
  margin-left: -60px;
  margin-top: 23px;
  max-width: 615px;
}

.footer-services-link {
  text-decoration: none;
  color: #ffffff;
}

.tel-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
  text-align: right;
}

.telegram::before {
  content: "";
  background-image: url("..//images/social/telegram.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.youtube::before {
  content: "";
  background-image: url("..//images/social/youtube.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.twitter::before {
  content: "";
  background-image: url("..//images/social/twitter.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-address {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-style: normal;
  width: 239px;
  margin-top: 19px;
}

.footer-address::after {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffcc33;
  display: block;
  margin-top: 64px;
}

.tel-link-wrapper {
  margin-top: 21px;
  width:178px;
}

.site-link-wrapper {
  right: 0;
  position: absolute;
}

/*CATALOG-PAGE*/

.user-logout-link {
  margin-right: 31px;
}

.second-header {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 37px 60px 13px 60px;
}

.second-header-heading {
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}

.breadcrumbs-list-item {
  margin-right: 37px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  column-gap: 20px;
  margin: 0;
  padding: 0;
}

.catalog-items {
  background-color: #f0f0f0;
}

.content-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.catalog-items-wrapper {
  display: grid;
  grid-template-columns: 321px 836px;
}

.filter-container {
  padding: 24px 60px 31px 59px;
}

.filter-form-price,
.filter-form-color,
.filter-form-bluetooth {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-heading,
.product-sorting-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

.filter-price-heading {
  margin-bottom: 36px;
}

.filter-heading {
  margin-bottom: 20px;
}

.filter-heading::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-top: 57px;
}

.range-scale {
  background-color: #dcdcdc;
  position: relative;
  height: 2px;
  margin-bottom: 5px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
  left: 0;
  width: 119px;
}

.range-switch {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ebebeb;
}

.min {
  top: -8px;
  left: -8px;
}

.max {
  right: -10px;
  top: -8px;
}

.from-label,
.to-label {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.to-label {
  margin-right: 13px;
}

.range-input {
  width: 75px;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.range-scale-wrapper {
  margin-left: -12px;
  margin-bottom: 54px;
}

.filter-form-color {
  position: relative;
  margin-bottom: 14px;
}

.filter-form-color::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-top: -26px;
  margin-bottom: 46px;
}

.color-filter {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 35px;
  margin-bottom: 37px;
}

.filter-color-item {
  margin-bottom: 7px;
}

.filter-input:checked + .color-label::before {
  content: "";
  background-image: url("../images/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border-color: #000000;
}

.color-label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 4px;
  position: absolute;
  left: -36px;
  top: 0;
}

.filter-input {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.color-label {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  position: relative;
}

.filter-color-heading,
.filter-price-heading,
.bluetooth-heading {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.2em;
}

.radiobutton-filter {
  list-style-type: none;
  padding-left: 38px;
}

.filter-radio-item:first-child {
  margin-bottom: 9px;
}

.filter-form-bluetooth {
  margin-bottom: 12px;
}

.bluetooth-heading {
  margin-bottom: 6px;
}

.yes-bluetooth {
  margin-bottom: 5px;
}

.radio-input:checked + .radio-label::before {
  border-color: #000000;
}

.radio-label {
  position: relative;
}

.radio-input:checked + .radio-label::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: -32px;
}

.radio-input + .radio-label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  left: -38px;
  top: 0;
}

.filter-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  z-index: 1;
  border: none;
}

.filter-button::before {
  content: "";
  display: block;
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
  position: absolute;
  z-index: -1;
  left: -48px;
  bottom: 6px;
}

.filter-button.yellow-crossing-btn {
  padding: 0 50px;
}

.sorting-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr 130px;
  min-height: 69px;
  background-color: #f0f0f0;
  align-items: center;
  padding: 0 40px 0 40px;
  justify-content: center;
}

.sorting-select {
  color: #000000;
  width: 131px;
  min-height: 30px;
  justify-self: center;
  border: none;
  appearance: none;
  background-color: transparent;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: top right -10px;
  cursor: pointer;
  margin-left: 8px;
}

.product-sorting-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 62px;
  justify-self: end;
}

.sort-up {
  display: block;
  box-sizing: content-box;
  width: 11px;
  height: 10px;
  background-image: url("../images/icons/triangle-up.svg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
  opacity: 0.2;
}

.sort-down {
  display: block;
  box-sizing: content-box;
  width: 11px;
  height: 10px;
  background-image: url("../images/icons/triangle-down.svg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
  opacity: 0.2;
}

.sort-up:focus, .sort-down:focus {
  outline: 2px solid #af4fff;
}

.product-cards {
  display: grid;
  row-gap: 44px;
  padding: 69px 40px 75px 38px;
  background-color: #ffffff;
}

.product-cards-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 41px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-link {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 1px;
  color: #000000;
}

.product-link:hover .product-link-details {
  display: flex;
}

.product-link:hover .product-link-content {
  opacity: 0.5;
}

.product-image {
  display: block;
  margin-bottom: 28px;
  height: 100%;
}

.product-name {
  margin: 0;
  padding: 3px 0 0 0;
  max-width: 300px;
}

.cards-button {
  font-family: "Railway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000000;
  padding: 17px;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #e5e5e5;
}

.pagination-wrapper {
  display: grid;
  grid-template-columns: 130px 1fr 130px;
  background-color: #ebebeb;
  margin-top: 0;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  width: 275px;
  margin: 17px auto 15px 105px;
}

.pagination-list-item {
  display: flex;
}

.pagination-wrapper .button-previous {
  padding-left: 25px;
  opacity: 0.2;
}

.pagination-wrapper .button-next {
  padding-left: 15px;
}

.button-previous,
.button-next {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  line-height: 21px;
  font-weight: 800;
  padding: 10px;
  margin-top: 14px;
}

.pagination-link {
  text-decoration: none;
  opacity: 0.3;
  min-width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 0 5px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Interactive details*/

.catalog-item {
  min-width: 147px;
}

.nav-logo:hover {
  opacity: 0.6;
}


.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:focus.search-button::after {
  content: "";
  display: block;
  min-width: 160px;
  min-height: 40px;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.search-button:focus-visible,
.bullet:focus-visible {
  outline: none;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  outline: none;
}

.search-button:active.search-button::after {
  display: none;
}

.search-button:disabled {
  opacity: 0.3;
}

.search-button {
  width: 160px;
  cursor: pointer;
}

.search-input:placeholder-shown {
  background-color: #ffe17f;
  color: #000000;
}

.user-login-link:hover {
  opacity: 0.6;
}

.user-login-link:focus {
  outline: 2px solid #af4fff;
}

.user-login-link:active {
  opacity: 0.3;
}

.user-compare-link:hover {
  opacity: 0.6;
}

.user-compare-link:focus {
  outline: 2px solid #af4fff;
}

.user-compare-link:active {
  opacity: 0.3;
}

.user-cart-link:hover {
  opacity: 0.6;
}

.user-cart-link:focus {
  outline: 2px solid #af4fff;
}

.user-cart-link:active {
  opacity: 0.3;
}

.bullet:hover {
  opacity: 0.6;
}

.bullet:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.bullet:active {
  opacity: 0.3;
  outline: none;
}

.catalog-link:hover::before {
  background-color: #ffc700;
}

.catalog-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}


.catalog-link:active {
  opacity: 0.3;
  outline: none;
}

.main-menu-link:hover {
  background-color: #ffe17f;
}

.main-menu-link:focus {
  outline: 2px solid #af4fff;
}

.main-menu-link:active {
  background-color: #ffcc33;
  border: none;
  outline: none;
}

.main-menu-link:active.main-menu-link::before {
  display: none;
}

.service-link-active:hover {
  background-color: #000000;
  padding-left: 65px;
  transition: padding 0.3s;
  outline: none;
}

.main-menu-link-active:focus {
  padding-left: 65px;
  outline: 2px solid #af4fff;
  transition: padding 0.3s;
}

.main-menu-link-active:active {
  padding-left: 65px;
  transition: padding 0.3s;
  outline: none;
}

.subscription-button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

.subscription-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.subscription-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border-color: #000000;
  outline: none;
}

.subscription-button:disabled {
  opacity: 0.3;
}

.field::placeholder {
  color: rgba(68, 68, 68, 0.5);
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;

}

.field:not(:placeholder-shown) {
  color: #444444;
  font-size: 18px;
  line-height: 30px;
  outline: none;
}

.field:disabled {
  opacity: 0.3;
}

.field:focus {
  outline: none;
  background-color: #dcdcdc;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:focus {
  outline: 2px solid #af4fff;
}

.footer-logo:active {
  opacity: 0.3;
  outline: none;
  border: none;
}


.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
  outline: none;
}


.filter-button:hover {
  background-color: #ffe17f;

}

.filter-button:focus {
  outline: 2px solid #af4fff;
}

.filter-button:active {
  background-color: #ffcc33;
  outline: none;
  border: none;
}

.filter--button:active.filter-button::before {
  display: none;
}

.filter-button:disabled {
  opacity: 0.3;
}


.cards-button:hover {
  border: 3px solid #000000;
}

.cards-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cards-button:active {
  border: 3px solid #000000;
  outline: none;
  opacity: 0.3;
}

.product-link:hover .products-image-text {
  display: block;
}

.product-link:hover .product-description {
  opacity: 0.6;
}

.product-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product-link:active .products-image-text {
  display: block;
}

.product-link:active .product-description {
  opacity: 0.3;
}

.product-link:active {
  outline: none;
}

.product-link:active .products-image-text::after {
  background-color: #ffc700;
}

.sorting-select:hover {
  opacity: 0.6;
}

.sorting-select:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.sorting-select:active {
  opacity: 0.3;
  outline: none;
}

.yellow-crossing-btn {
  display: inline-block;
  position: relative;
  padding: 0 38px;
  height: 40px;
  z-index: 1;
  cursor: pointer;
}

.yellow-crossing-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  transition: height 0.2s ease;
  left: 0;
}

.yellow-crossing-btn:hover::before {
  height: 100%;
}

.yellow-crossing-btn-caption {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.product-link-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  display: none;
  justify-content: center;
  align-items: center;
}

.range-input:focus {
  outline: 2px solid #af4fff;
}

.pagination-link:focus {
  outline: 2px solid #af4fff;
}

.button-previous:focus, .button-next:focus {
  outline: 2px solid #af4fff;
}

.footer-social-link:focus {
  outline: 2px solid #af4fff;
}

.filter-form-color:focus {
  outline: 2px solid #af4fff;
}

.color-label::after {
  content: "";
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  border-radius: 0;
  top: 0;
  left: -36px;
}

.filter-input[type="checkbox"]:focus + .color-label::after {
  display: block;
}

.filter-input[type="checkbox"]:disabled + .color-label::before {
  color: rgba(0, 0, 0, 0.1);
  opacity: 0.1;
}

.filter-input[type="checkbox"]:disabled + .color-label {
  opacity: 0.1;
}

.filter-form-button {
  width: 220px;
  padding: 10px 5px;
  margin: 0;
  border: none;
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
}
