@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

::before, ::after {
  box-sizing: border-box;
}

.body-container {
  margin: 0;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  padding: 15px 0;
}

.page-container {
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 1160px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gadgets-list-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
}

.rare-goods-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23,48px;
  letter-spacing: 20%;
}

.company-info-font {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.delivery-companies-font {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -2%;
}

.address-form-details-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.buttons-links-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.titles-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.numbers-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.details-name-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.navigation-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}


/*Header*/

.popover, .slider-screen, .rare-goods-modal{
  display: none;
}

.header {
  position: relative;
  z-index: 1;
}

.header-wrapper {
  background-color: #FFE17F;
  min-height: 175px;
  position: relative;
  margin: 0 auto;
  width: 1160px;
}

.header-wrapper::before {
  content: '';
  width: 100%;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.nav-logo{
  display: block;
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
  left: 60px;
}

.navigation {
  display:flex;
  flex-wrap: wrap;
  padding: 0 59px;
}

.navigation-form-container {
  margin-top: -10px;
}

.user-menu-link, .main-menu-link, .catalog-link {
  text-decoration: none;
  color: black;
}

.user-login-link {
  position: relative;
  display: inline-block;
}

.user-login-link::before {
  content:"";
  position: absolute;
  background-image: url("../images/icons/user.svg");
  width: 13px;
  height: 12px;
  left: -20px;
  bottom: 8px;
}

.user-compare-link {
  position: relative;
  display: inline-block;
  margin-right: 44px;
}

.user-compare-link::before {
  content:"";
  position: absolute;
  background-image: url("../images/icons/compare.svg");
  width: 10px;
  height: 12px;
  right: 96px;
  bottom: 8px;
}

.user-cart-link {
  position: relative;
  display: inline-block;
}

.user-cart-link::before {
  content:"";
  position: absolute;
  background-image: url("../images/icons/cart.svg");
  width: 16px;
  height: 14px;
  bottom: 8px;
  right: 88px;
}

.cart-counter {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-width: 20px;
  height: 20px;
  right: 99px;
  top: 6px;
  background-color: white;
  border-radius: 10px;
  color: black;
  font-size: 13px;
}

.user-menu {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: -4px;
  flex: 1;
  flex-wrap: wrap;
  gap: 18px;
  list-style-type: none;
}

.main-menu-container {
  width:100%;
  display: flex;
  flex-direction: column;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-right: 65px;
  margin-top: 2px;
  padding-bottom: 42px;
  list-style-type: none;
 }

.catalog-list-wrapper {
  display: flex;
  position: absolute;
  flex-direction: row;
  background:#FFE17F;
  width: calc(100% - 118px);
  left: 0;
  padding: 1px 59px;
  top: 196px;
}

.catalog-list-wrapper::after {
  content:"";
  position: absolute;
  background-image: url("../images/icons/01.svg");
  width: 192px;
  height: 130px;
  right: 62px;

}

.catalog-link-button {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 0;
  margin:-4px;
  cursor: pointer;
  opacity: 0.3;
  background-color: #FFE17F;
  transform: translateX(17px)translateY(-8px);
}

.catalog-link-button::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content:"";
  background-image: url("../images/icons/plus.svg");
  width: 16px;
  height: 16px;
  display: block;
  margin: 0;
  padding: 0;
}

.catalog-item {
  margin-bottom: 19px;
}

.catalog-service-wrapper {
 display: flex;
 flex-wrap: wrap;

}

.main-menu-list {
  display: flex;
  margin-top: 42px;
  padding: 0;
  gap: 43px;
  list-style-type: none;
}

.catalog-container {
  flex: 1;
  margin-top: 42px;
}

.user-login {
  flex:1;
  margin-left: 40px;
}

.form-search {
  box-sizing: border-box;
}

.form-search input {
  position: relative;
  min-width: 306px;
  border-radius: 50px 0 0 50px;
  height: 36px;
  padding: 0;
  padding-left: 52px;
  margin: 0;
  border: 2px solid #000000;
  transform: translateX(-2px)translateY(-0.5px);
  background-color: #FFE17F;
}

.form-search::before {
  content:"";
  position: absolute;
  background-image: url("../images/icons/search.svg");
  width: 16px;
  height: 16px;
  top: 78px;
  left:76px;
  z-index: 10;
}

.form-search button {
  min-width: 160px;
  height: 40px;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  padding: 0;
  margin: 0;
  border-left: none;
  transform: translateX(-7px)translateY(1px);
  background-color: #FFE17F;
}

/*MAIN*/

/*Slider*/

.slider {
  position: relative;
}
.slider-frame {
  overflow: hidden;
}

.slider::before {
  position: absolute;
  content: '';
  width: 100%;
  min-height: 104px;
  background-color: #FFE17F;
  left: 0;
  top: 0;
  z-index: -1;
}

.slider-text-container {
  width: 560px;
  height: 401px;
  margin-left: 140px;
}

.slider-text-title {
  margin-top: 76px;
  margin-bottom: 28px;
}

.slider-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  transform: translateX(38px)translateY(57px);
  z-index: 30;
}

.slider-link::before {
  content:"";
  position: absolute;
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
  z-index: 1;
  left: -32px;
  bottom: 6px;
}

.details {
  display: flex;
  padding: 0;
  margin-top: 77px;
}

.details-item {
  list-style-type: none;
  margin-left: 21px;
}

.details-text {
  margin-bottom: 11px;
}
.details-item:first-child {
  margin-left: 0;
}

.slider-description {
  margin: 0;
}

.slider-screen-wrapper {
  display: flex;
}

.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-frame {
  width: 1160px;
}

.slider-bullets {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style-type: none;
  transform: translateX(-1px)translateY(-99px);
}

.slider-image {
  transform:translateX(98px)translateY(-44px);
}

.details-name {
  display: inline-block;
  margin-top:0;
}

.bullet {
  list-style-type: none;
  width: 13px;
  height: 13px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 0;
  margin: 10px;
  cursor: pointer;
}

/*Gadgets*/

.gadgets-list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.gadgets {
  width: 1160px;
  margin: 0 auto;
}

.gadgets-list-item {
  width: 160px;
}

.gadget-details {
  text-decoration: none;
}

.gadget-details-image {
  height: 160px;
  background-color: #FFE17F;
}

.gadget-vr {
  background-image: url('../images/index-catalog-images/vr-glasses.svg');
}

.gadget-monopod {
  background-image: url("../images/index-catalog-images/selfie-stick.svg");
}

.gadget-camera {
  background-image: url("../images/index-catalog-images/camera.svg");
}

.gadget-bracelet {
  background-image: url("../images/index-catalog-images/fitness-watches.png");
}

.gadget-watch {
  background-image: url("../images/index-catalog-images/smartwatches.png");
}

.gadget-quadrocopter {
  background-image: url("..//images/index-catalog-images/quadrocopter.png");
}

.gadgets-description {
  margin: 0;
  margin-top: 32px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: black;
}

.services {
  background-color:cornflowerblue;
}

.rare-goods {
  background-color: lightcoral;
}

.about-company{
  background-color:darkolivegreen;
}

.company-contacts{
  background-color:darkseagreen;
}

.subscription {
  background-color:aquamarine;
}

.footer{
  background-color:blanchedalmond;
}
